<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" title="CLI Assured" href="{{{or site.url siteRootPath}}}" style="font-family: 'Courier New', monospace; font-weight: 900; font-size: 1.8rem;"><img src="{{siteRootPath}}/favicon.svg" alt="CLI Assured" width="48" style="margin-right: 16px">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
